body{
	padding:0;
	margin : 0;
        text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
   }
.row {
    margin: 0 !important;
    padding :0 !important;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

/*@font-face {
  font-family: 'MyCambria';
  src: url('Cambria.ttf')  format('truetype');
}*/
@font-face {
  font-family: 'CharterITCStd-Regular';
  src: url('../fonts/charteritcstd-regular.otf') format("opentype");
}
@font-face {
  font-family: 'myGabriela-Regular';
  src: url('../fonts/Gabriela-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'myGabrielle';
  src: url('../fonts/Gabrielle.ttf') format("truetype");
}

@font-face {
  font-family: 'myCambria';
  src: url('../fonts/Cambria.ttf')  format('truetype');
}
@font-face {
  font-family: 'myAileron';
  src: url('../fonts/Aileron-SemiBold.otf')  format("opentype");
}
@font-face {
  font-family: 'myGuardians';
  src: url('../fonts/Guardians Regular.ttf')  format("opentype");
}



/*************************  header Style ****************************/
.header-main {
	width:100%;
	max-width: 100%;
	background: #fff;
	padding-top: 15px !important;
}
.logo-header p{
    font-family: myGuardians;
    font-size: 20px;
     
}

.logo-contentP1 {
    display: inline-block;
    font-weight: bold;
    background-color: #dd2222;
    color: #fff;
    padding: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #222;
    
}
.logo-contentP2 {
   display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

/***************************   Navigation Style ******************************/
.menuIconsBtn {
	display: none;
	float: right;
    padding: 16px 5px 7px 7px;
}
	.btn-close {
		display: none;
	}
	.bt-close {
		display: block !important; 
		background-color: #e33;
	}
.navigation{
	padding : 0 ! important;
	float: right;

}
.nav{
	max-width: 100%;
	width :100%;
	height: 40px;
	margin: 0 !important;
}
.navCol ul{
	list-style: none;
	max-width: 100%;
	float: right;
	
}
.navCol ul li{
	float:left;
	 padding-top:10px;
	text-align: center;
}
.navCol ul li a{
	text-transform: capitalize;
	text-decoration: none;
	color: #555;
	font-size: 15px;
	padding:11px 12px 11px 12px;
	font-weight: bold;

}
.social-icons-mob {
   text-align: center;
   display: none;
   flex-wrap: nowrap;
   justify-content: center;
    margin: 0px auto;
    padding: 30px 0 10px 0;
    border-top: 1px solid #383a3a;
    border-bottom: 1px solid #000;
}
.social-icons-mob a{
    display: inline-block;
    color: #333;
    width: 32px;
    height: 32px;
    background: #b1b1b1;;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin:0 5px;
}

.nav-footer {
	text-align: center;
	border-top: 1px solid #383a3a;
    border-bottom: 1px solid #000;
    padding-top: 6px;
    display: none;
}
.nav-footer ul {
	text-align: center;
	display: inline-block;
}
.nav-footer ul li {
	list-style: none;
	float: left !important;
	padding: 5px 5px !important;
	border: none;
}
.websit-copywrite {
	text-align: center;
	color: #b1b1b1;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 8px;
}

/**********************  End of Header&nav *******************/

/********************* Start of Slider Style   ******************/
.slider {
	padding: 0 !important;
}
.slider-container {
	position: relative;
	background-color: #000;
}
.slider-imag {
	width: 100;
	max-width: 100%;
	opacity: .5;
}

.slider-content {
	position: absolute;
	top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slider-title p:first-child {
    color: #fff;
    font-size: 38px;
    text-shadow: 1px 2px 6px #111;
    font-weight: bold;
    text-transform: capitalize;
}
.slider-title p:nth-child(2) {
    color: #eee;
    font-size: 14px;
    
    font-weight: 500;
    text-transform: capitalize;
}
.resume-button {
     padding-top: 30px;
}
.resume-click {
	display: inline-block;
    width: 250px;
    height: 40px;
    background: #14abf3;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #fff;
}
/********************* End  of Slider Style   ******************/


/********************* Star of Personal Info Style   ******************/

.personal-infoRow {
	margin-top: 20px !important;
	margin-bottom: 40px !important;
	padding: 5px 40px !important;
}
.personal-info {
	padding: 0 !important;
	border: 1px solid #ddd;
	
}
.personal-photoC {
    padding: 7px;

}

.personal-photo {
	border: 1px solid #ddd;
	    max-width: 100%;
}
.buttom-con {
	text-align: center;
}
.resume-buttom {
    display: inline-block;
    width: 95%;
    background-color: #fff;
    color: #717070;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}
.description-infop {
	padding-top: 10px !important;
	padding-left: 25px !important;
}
.name-info {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
    color: #0680d6f0;
}
.name-info span {
	font-weight: 500;
	color: #444;
}
.job-info {
	font-size: 18px;
	color: #666;
	text-transform: capitalize;
	font-weight: 500;

}
.decs-info {
    font-size: 16px;
    line-height: 26px;
    color: #848181;
    padding-top: 10px;
    text-transform: capitalize;
}
.personal-contact {
	padding-left: 15px;
}
.personal-container {
	border: 1px solid #ddd;
	padding-top: 15px;
}
.contact-header {
	padding: 0 5px 0 15px;

}
.contact-header p{
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1587d8;
}
.contact-content {
	padding: 0 5px 0 15px;
}
.contact-content p {
	font-size: 15px;
    color: #797676;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.contact-content p span:nth-child(1) {
	display: inline-block;
    width: 60px;
}
.contact-content p span:nth-child(2) {
	display: inline-block;
    margin-left: 5px;
}
.contact-content p span:last-child {
	font-size: 14px;
}
/********************* End of Personal Info Style   ******************/

/********************* Start of Areas Scop  *************************/

.areas-scopContainer {
	scroll-behavior: smooth;
	-webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    margin-bottom: 40px;

}
html {
    scroll-behavior: smooth
}

a[ id= "areas-scop" ]:target ~ .areas-scopRow {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}
.scop-outer {
	border: 1px solid #ece9e9;
    width: 95%;
    box-shadow: 0px 0px 8px 0px #eaeaea;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
}
.scop-container {
	
}
.areas-header {
	text-align: center;
	margin-bottom: 30px;
}
.areas-header p:first-child {
	color: #354961;
	font-size: 28px;
	font-weight: 600;
	text-transform: capitalize;
}
.areas-header p:nth-child(2) {
	color: #949494;
	font-size: 16px;
	text-transform: capitalize;
}
.scop-inner {
	text-align: center;

}
.icon-outer {

}
.icon-outer span {
	font-size: 35px;
    display: inline-block;
    color: #fff;
    width: 75px;
    height: 70px;
    border-radius: 5px;
    background: #242c41;
    padding: 15px;
    border: 5px solid #6aa521;
}
.icon-outer i {
	font-size: 22px;
    display: inline-block;
    color: #fff;
    line-height: 30px;
    width: 75px;
    height: 70px;
    border-radius: 5px;
    background: #242c41;
    padding: 15px;
    border: 5px solid #6aa521;
}
.scop-contentHeader {
    color: #6d6c6c;
    font-size: 16px;
    font-weight: 600;
    padding-top: 14px;
    text-transform: capitalize;
}
.scop-contentDesc {
	color: #777;
    text-transform: capitalize;

}
/********************* End of Areas Scop  *************************/

/********************* Start of Background area Style  **********************/
.background-container {
	width: 95%;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.background-header {
	text-align: center;
}
.back-icon {
	margin-bottom: 30px;
}
.back-icon i {
	display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #00468b;
    color: #fff;
    line-height: 78px;
    font-size: 25px;
    border-radius: 50%;
}
.background-header p{
	color: #20214f;
    font-size: 28px;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 15px;
}
.exep-row {
	margin-bottom: 7px !important;
}
.exeperience  {
	border: 1px solid #ddd;
    padding: 15px !important;
    padding-left: 10px !important;
}
.exep-row:nth-child(1) .job-exep1  {
	background-color :#00798a;
}
.exep-row:nth-child(2) .job-exep1   {
    background-color :#8b005b;
}

.job-exep1 .job-date {
	font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 4px #000;
    line-height: 110px;

}
.job-desc {
    padding: 6px 0 0px 30px !important;
}
.job-desc p:nth-child(1){
	color: #0280da;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2px !important;

}
.job-desc p:nth-child(2){
	color: #716e6e;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 2px !important;
 }
.education {

 }
 .edu-inner {
    border: 1px solid #ddd;
    padding: 22px 4px 1px 13px;
    border-radius: 10px;
 }
.edu-date {
    display: inline-block;
    color: #fff;
    background: #027be2;
    padding: 5px 10px;
    margin-left: -13px;
    margin-bottom: 15px !important;

}
.course-name {
    color: #7b7272;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;

}
.course-name i{
    font-size: 17px;
    display: inline-block;
    padding-right: 8px;
}

.course-name span{
    text-transform: uppercase;

}
.course-desc {
    color: #635e5e;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 15px !important;

}
.inst-name {
    color: #9e9596;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;

}

/********************* End of Background area Style  **********************/

/*****************************   Strat Circle Bar Style  *************************/
.circle-container  {
    padding: 20px !important;
    width: 95% !important;
    margin-bottom: 20px;
}
.circle-row{
    padding: 4px 20px 20px 30px !important;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 2px #ece3e3;
}
.circle-header {
    color: #555;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    /*text-shadow: 0 0 4px #000;*/
}
.svCol {
    display: flex;
    padding-top: 42px;
    justify-content: center;
    

}
.circle-inner {
    display: flex;
    padding-top: 42px;
    align-items: center;
    padding-bottom: 79px;
    width: 91%;
    border-radius: 5px;
    background-color: #00a1c5;
}
.sv {
      display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;

}
.sv svg {
  position: relative;
    height: 150px;
    width: 150px;

}
.sv svg circle {
    height: 150px;
    width: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}
.sv svg circle:nth-child(1){
    height: 150px;
    width: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #7f7a7a;
    transform: translate(5px, 5px);
    stroke-dasharray: 0;
    stroke-dashoffset: 0;

}
.sv svg circle:nth-child(2){
        height: 150px;
    width: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #e9ff35;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * 99 )/ 100);
}
.svCol:nth-child(1)  circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90 )/ 100);
}
.svCol:nth-child(2)  circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80 )/ 100);
}
.svCol:nth-child(3)  circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 85 )/ 100);
}
.svCol:nth-child(4)  circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90 )/ 100);
}

.percentage {
    position: absolute;
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    left: 50%;
    top: 50;
    transform: translate(-50%,0%);
    color: #fff;
}
.skill {
    font-weight: 600;
    position: absolute;
    color: #737373;
    font-size: 19px;
    background: #fff;
    width: 76%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
}


/*****************************   Ending of Circle Bar Style  *************************/

/***************************** Start of skill-container Style  *************************/
.skill-container {
    width: 95% !important;

}
.skill-header {

}
.skill-row {

}
.skill-col1 {
    padding: 0 !important;

}
.skill-inner {
    border: 1px solid #d8d8d8;
    padding: 5px 10px 2px 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px #ece3e3;
}
.skill-box {

}
.skill-title {
    color: #888;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2px;

}
.progress-skill {
    background-color: #736f6f !important;
    border-radius: 0 !important;
    margin-bottom: 10px !important
}
.skill-box .progress-bar {
    text-align: right;
}
.skill-box:nth-child(1) .progress-bar {
    background-color: #ef4141 !important;
    width: 90% !important;
}
.skill-box:nth-child(2) .progress-bar {
    background-color: #399aef !important;
    width: 95% !important;
}
.skill-box:nth-child(3) .progress-bar {
    background-color: #c557e0 !important;
    width: 80% !important;
}
.skill-box:nth-child(4) .progress-bar {
    background-color: #d86437 !important;
    width: 85% !important;
}
.skill-box:nth-child(5) .progress-bar {
    background-color: #3eb758 !important;
    width: 90% !important;
}

.middle-skillCol {

}
.middile-row {
    margin-bottom: 10px !important;

}
.middil-innercol {
    padding: 0 !important;

}
.middskil-header {
    text-align: center;

}
.middskil-header p {
    background: #933ca9;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    line-height: 124px;
}
.middile-row:nth-child(2) .middskil-header p {
    background-color: #04749a;
}
.middskil-desc  {
    padding: 13px 4px 1px 6px !important;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 1px #dedddd;
}
.middskil-desc .skill-title {
    margin-bottom: 4px;
}
.skill-title span {
    font-size: 12px;
    display: inline-block;
    text-align: left;
    width: 50%;

}
.skill-title span:nth-child(1){
    text-align: left;
    width: 50%;
}
.skill-title span:nth-child(2){
    text-align: right;
}
.skill-value {
    color: #444;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;  
} 
.progressK-skill {
    height: 15px;
    margin-bottom: 20px;
    background-color: #736f6f;
    border-radius: 3px;
}
.progressK-bar{
    width: 70%;
    background: #cc5503;
    height: 15px;
}
.middskil-desc .skill-box:nth-child(2) .progressK-skill {
    margin-bottom: 10px;
}
.skill-bootom {
    padding: 4px;
}
.skill-bootom p{
    background: #04749a;
    padding: 7px 5px;
    text-align: center;
    border-radius: 5px;
    color: #ececec;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
/***************************** End of skill-container Style  *************************/
/***************************** Start of Footer Style  ********************************/
 .footer-container {
    width: 100%;
    padding: 0 !important;
 }
 .footer-inner {
    background-color: #555;

 }
 .footer-col {
    padding: 0 !important;
 }
 .footer-inner p {
    color: #e2dbdb;
    font-size: 16px;
    text-align: center;
    padding: 30px 0 1px 0px;
}
    
 
/***************************** End  of Footer Style  ********************************/


/**************************** Strat of Mobile Style ( max-width: 992px )  ********************************/
@media only screen and (max-width: 992px){

    /********************* Start of Personal Style ********************/
    .personal-info{
    margin-bottom: 20px !important;
   }
   .personal-contact {
    padding: 0 !important;
   }
   /********************* End of Personal Style ********************/

    /********************* Start of Scop Areas Style  *************************/
    .areas-header p:nth-child(2){
        padding: 5px 10px;
    }
    .scop-inner {
        margin-bottom: 50px;
        margin: 0 10px 50px 10px;
    }
    .exeperience {
    margin-bottom: 50px;
    }
    /********************* End of Scop Areas Style *****************************/   



    /********************* Start of Education & Experience Style  *************************/
    .exeperience {
    margin-bottom: 50px;
    }
    .education:nth-child(2) {
        padding-left: 0 !important;
    }
    .education:nth-child(3) {
        padding-right: 0 !important;
    }
    /********************* End of Education & Experience Style  *****************************/



    /************************** Start of Skills Style *********************/
    .circle-container {
        padding: 0 !important;
        margin-bottom: 25px;
    }
    .circle-row {
        padding: 0 !important;
        padding-bottom: 15px !important;
    }
    .percentage {
    }

    /************************** End of Skills Style ***********************/ 
}

/****************************End Mobile Style ( max-width: 992px )  ********************************/

/*********************  Mobile styles *****************/

@media only screen and (max-width: 768px){

	/******************** Start of M<ain Style ******************************/
	.header-main {
		padding: 0 !important;
		margin: 0 !important;

	}
	.logo-header {
	  background: #333;
	  padding: 0 !important;
	  margin-bottom:1px;

	}
	.logo-contentP1,.logo-contentP2 {
		margin: 0 !important;
		padding: 15px 5px;
		font-size: 20px;
	}
	.logo-contentP2 {
		color: #eee;
	}

	.menuIconsBtn {
      display: block;
      position: relative;
    }
    .open {
	color: #eee;
	position: absolute;
	right: 15px;
     }
	.btn-close {
		display: none !important;
		color: #fff;
		position: absolute;
		right: 10px;
        padding-top: 1px;
        padding-right: 5px;
		font-size: 24px;
	}
	.bt-close {
		display: block !important; 
		background-color: #e33;
	}
	.navCol {
		display: none;
		 /*background: #171c21;*/
		 background-color: #252729;
		padding:0 !important;
	}
	.navCol ul {
       float: unset;
       margin: 0;
	}
	.navCol ul li {
		float: unset;
		padding: 20px 12px 20px 11px !important;
        border-top: 1px solid #383a3a;
        border-bottom: 1px solid #000;
	}
	.navCol ul li a{
		color: #eee;
		font-weight: 500 !important;

	}
	.navCol ul li a:hover{
		color: #6fd;
	}
	.navCol ul li:hover{
		background-color: #23ff44;
	}
	.social-icons-mob {
		display: flex;
	}
	.nav-footer {
		display: block;
	}
	.nav-footer ul li {
	list-style: none;
	float: left !important;
	padding: 5px 5px !important;
	border: none;
    }
    .nav-footer ul li a{
	padding: 0px 0px !important;
	color: #b1b1b1;
	font-size: 11px;
	border-right: 1px solid #b1b1b1;
    padding-right: 11px !important;
    }
    .nav-footer ul li:last-child a{
	border: none !important;
    }
    /******************** end of main header Style (mobile style) ******************************/
	

	/******************* Start of Slider style (mobile style) *******************************/
    
     .slider-title p:first-child {
	    font-size: 16px;
	    margin-bottom: 2px;
	    }
	.slider-title p:nth-child(2) {
	    font-size: 11px;
	   }
    .resume-button {
        padding-top: 2px;
       }
    .resume-click {
    	font-size: 12px;
    	width: 100px;
        height: 27px;
      } 

    /******************* End of Slider style (mobile style) *******************************/


    /********************* Start of Personal Info Style (mobile)  *********************************/
    .personal-infoRow {
       margin: 20px 0px !important;
       padding: 5px !important;
    }
    .personal-info {
    	margin-bottom: 15px;
    }
    .personal-photoC {
    	text-align: center;
    	padding-top: 20px;
    }
    .personal-contact {
    	padding: 0 !important;
    }
    /********************* End of Personal Info Style (mobile)  ***********************************/
    

    /********************  Start of Scope areas Style (mobile) ***********************************/
    .areas-header p:nth-child(2){
        padding: 5px 10px;
    }
    .scop-inner {
        margin-bottom: 50px;
    }
    /********************  End  of Scope areas Style (mobile) ***********************************/


    /********************* Start of Education & Experience Style (mobile)  *************************/
    .exep-row {
        margin-bottom: 50px !important;
    }
    .job-desc {
    padding: 20px 0 0px 30px !important;
    }
    .education {
        margin-bottom: 30px;
        padding: 0 !important;
    }
    .edu-inner {
    box-shadow: 0 0 4px #eae5e5;
    }
    /********************* End of Education & Experience Style (mobile)  *************************/
} 


